<div class="Item-list">
  <h2>Список товаров</h2>

  <!-- Форма добавления нового товара -->
  <div class="add-Item">
    <input [(ngModel)]="newItemName" placeholder="Название товара" />
    <input [(ngModel)]="newItemPrice" type="number" placeholder="Цена товара" />
    <button (click)="addItem()">Добавить товар</button>
  </div>

  <!-- Список товаров -->
  <ul>
    <li *ngFor="let Item of Items">
      <h6>{{ Item.productName }} - {{ Item.unitPrice}}> </h6>
      <button (click)="removeItem(Item.id)">Удалить {{Item.productName}}</button>
    </li>
  </ul>
</div>
